@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400i');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Source Sans Pro:400', sans-serif;
	color: #4C4C4C;
	font-size: 16px
}
h1{
	font-size: 2.5em;
	text-align: center;
	max-width:50em;
	margin:auto;
}
h1, h2, h3 {
	font-family: 'Source Sans Pro:600', sans-serif;
	color: #0A273D;
}
ul {
	list-style: none;
}
article {
	background-color: white;
	float: left;
	width: 34%;
	min-height: 60%;
/*
	padding: 6px;
	margin: 1%;*/
}
article img {
	width:100%;
	box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2), 0 .5em 1.25em 0 rgba(0,0,0,0.19);
}
footer {
	text-align: center;
	padding-bottom: 1%;
}
footer a {
	display: inline-block;
	padding:0 2%;
	color: #1E77BA;
	text-decoration: none;
}
#about {
	display:inline-block;
	width: 85%;
	padding-left: 15%;
	padding-top: 1%;
}
#slogan {
	font-family: 'Source Sans Pro:600', sans-serif;
	font-size: 1.25em;
	color: #1E77BA; 
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin:auto;
	max-width: 1000;
}
#intro {
	background: url("../images/ei_welcome.jpg");
	background-size: cover;
	height: 40em;
	background-position: center;
}
.logo {
	width: 8%;
	padding: 1% 1%;
}
.left{
	margin: 1% 1% 1% 15%;
}
.right{
	margin:1% 15% 1% 1%;
}
.cta {
	background-color: #1E77BA; 
    border: none;
    color: white;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .9em;
    text-align: bottom;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2), 0 .5em 1.25em 0 rgba(0,0,0,0.19);
}
.cta:hover {
	background-color: #165687;
    color: white;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2), 0 .5em 1.25em 0 rgba(0,0,0,0.19);
}
.cta:active {
  background-color: #165687;
  color:white;
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2), 0 .5em 1.25em 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.boxtext {
	border: .125em solid #F79125;
	padding: .625em;
	border-radius: .625em;
	min-height: 11em;
	max-height: 11em;
}
@media screen and (max-width: 1163px) {
	article {
	min-height: 80%;}
	.boxtext {
		min-height: 15em;
		max-height: 15em;
	}
}
@media screen and (max-width: 1024px) {
	body {
		font-size: 12px
	}
	#intro {
		height: 36em;
		display: inline-block;
	}
	#about {
	width: 98%;
	padding-left: 1%
}
	.articleimg {
		display: none;
	}
	.boxtext {
		min-height: 12.5em;
		max-height: 12.5em;
	}
	.left{
		width:48%;
		margin: 1%;
}
	.right{
		width:48%;
		margin:1%;
}
}
@media screen and (max-width: 579px) {
	.boxtext {
		min-height: 16em;
		max-height: 16em;
	}
}
/*TEST\*

