@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400i');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Source Sans Pro:400', sans-serif;
	color: #4C4C4C;
}
h1{
	font-size: 40px;
	text-align: center;
	display: block;
	width:800px;
	margin:auto;
}
h1, h2, h3 {
	font-family: 'Source Sans Pro:600', sans-serif;
	color: #0A273D;
}
ul {
	list-style: none;
}
article {
	background-color: white;
	float: left;
	width: 34%;
	min-height: 40em;
	padding: 6px;
}
article img {
	width:100%;
}
footer {
	text-align: center;
	padding-bottom: 25px;
}
footer a {
	display: inline-block;
	padding:0em 2em;
	color: #1E77BA;
	text-decoration: none;
}
#about {
	display:inline-block;
	width: 85%;
	padding-left: 15%;
	padding-top: 25px;
}
#slogan {
	font-family: 'Source Sans Pro:600', sans-serif;
	font-size: 20px;
	color: #1E77BA;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin:auto;
	width: 1000;
}
#intro {
	background: url("../images/ei_welcome.jpg");
	background-size: cover;
	height: 80vh;
	background-position: center;
	padding-left: 100px;
}
.logo {
	width: 10em;
	padding: 1em 1em;
}
.left{
	margin: 1% 1% 1% 15%;
}
.right{
	margin:1% 15% 1% 1%;
}
.cta {
	background-color: #1E77BA; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    text-align: bottom;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cta:hover {
	background-color: #165687;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cta:active {
  background-color: #165687;
  color:white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}