body {text-align: center;
	background: url("images/ei_welcome.jpg");
	background-size: cover;
font-family: "Helvetica Neue";}

h1{color: #0A273D;}

p{color: #4C4C4C;}

#slogan {font-size: 22px;
	color: #1E77BA;}


